<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" src="{VSCODE_ELEMENTS_SCRIPT_URI}"></script>

    <style>
        body { padding: 0 }
    </style>
</head>
<body>
    <vscode-table bordered-columns zebra resizable>
        <vscode-table-header>
            <vscode-table-header-cell>RID</vscode-table-header-cell>
            <vscode-table-header-cell>Pipeline</vscode-table-header-cell>
            <vscode-table-header-cell>Status</vscode-table-header-cell>
            <vscode-table-header-cell>Prio</vscode-table-header-cell>
            <vscode-table-header-cell>Due date</vscode-table-header-cell>
            <vscode-table-header-cell>Revision</vscode-table-header-cell>
            <vscode-table-header-cell>File</vscode-table-header-cell>
            <vscode-table-header-cell>Class name</vscode-table-header-cell>
        </vscode-table-header>

        <vscode-table-body>
        </vscode-table-body>
    </vscode-table>

    <script>
        let cellel = value => {
            let el = document.createElement("vscode-table-cell");
            el.textContent = value;
            return el;
        };

        let rowel = (rid, record) => {
            let rowel = document.createElement("vscode-table-row");

            [
                rid,
                record.pipeline,
                record.status,
                record.priority,
                record.due_date,
                record.expid.repo_rev ?? "w/o repo",
                record.expid.file,
                record.expid.class_name,
            ]
            .map(value => cellel(value))
            .forEach(cellel => rowel.append(cellel));

            return rowel;
        };

        window.addEventListener("message", ev => {
            let bodyel = document.querySelector("vscode-table-body");
            bodyel.innerHTML = "";

            Object.entries(ev.data.records)
                .map(([rid, record]) => rowel(rid, record))
                .forEach(rowel => bodyel.append(rowel));
        });
    </script>
</body>
</html>