<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Arguments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{TABULATOR_STYLES_URI}" rel="stylesheet">
    <link href="{CUSTOM_STYLES_URI}" rel="stylesheet">

    <style>
        .hidden { display: none !important; }
        .noscroll { overflow: hidden !important; }
    </style>
</head>

<body>
    <div class="idle hidden">
        <p class="msg">No arguments available.</p>
    </div>

    <div class="table"></div>
    <script type="module" src="${SCRIPT_URI}"></script>
</body>

</html>