<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{TABULATOR_STYLES_URI}" rel="stylesheet">
    <link href="{CUSTOM_STYLES_URI}" rel="stylesheet">
    <script type="text/javascript" src="{TABULATOR_SCRIPT_URI}"></script>
</head>
<body>
    <div class="table"></div>

    <script>
        const vscode = acquireVsCodeApi();

        let table = new Tabulator(".table", {
            layout:"fitDataFill",
            columns: [
                {title: "RID", field: "rid"},
                {title: "Pipeline", field: "pipeline"},
                {title: "Status", field: "status"},
                {title: "Prio", field: "priority"},
                {title: "Due date", field: "due_date"},
                {title: "Revision", field: "expid.repo_rev", formatter: cell => cell.getValue() ?? "w/o repo"},
                {title: "File", field: "expid.file"},
                {title: "Class name", field: "expid.class_name"},
            ],

            rowContextMenu: [
                {
                    label: "Request termination",
                    action: (e, row) => vscode.postMessage({
                        action: "rpc", data: {
                            method: "request_termination",
                            args: [row.getData().rid],
                        },
                    }),
                },
            ],
        });

        // TODO: request_termination
        // delete
        // gracefully terminate all in pipeline: test for pipeline and request_termination for the lot
        window.addEventListener("message", ev => {
            console.log("EV.DATA", ev.data.records);
            table.setData(ev.data.records.map(([rid, record]) => ({...record, rid})));
        });
    </script>
</body>
</html>