<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{TABULATOR_STYLES_URI}" rel="stylesheet">
    <link href="{CUSTOM_STYLES_URI}" rel="stylesheet">
    <script type="text/javascript" src="{TABULATOR_SCRIPT_URI}"></script>
</head>
<body>
    <div class="table"></div>

    <script>
        let table = new Tabulator(".table", {
            layout:"fitDataFill",
            columns: [
                {title: "RID", field: "rid"},
                {title: "Pipeline", field: "pipeline"},
                {title: "Status", field: "status"},
                {title: "Prio", field: "priority"},
                {title: "Due date", field: "due_date"},
                {title: "Revision", field: "expid.repo_rev", formatter: cell => cell.getValue() ?? "w/o repo"},
                {title: "File", field: "expid.file"},
                {title: "Class name", field: "expid.class_name"},
            ],
        });

        window.addEventListener("message", ev => {
            table.setData(ev.data.recordEntries.map(([rid, record]) => ({...record, rid})));
        });
    </script>
</body>
</html>