@import "../node_modules/gridstack/dist/gridstack.min.css";

.hidden {
    display: none !important;
}

.grid-stack-item {
    border: 1px solid blue;
}

.grid-stack-item > .ui-resizable-se {
    bottom: 0;
    right: 0;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    min-height: 0;
}

.widget-header {
    flex: 0 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: move;
    background: red;
    color: white;
}

.applet .widget-header {
    background: blue;
}

.widget-body {
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0;
}

.applet .widget-body {
    position: relative;
    display: flex;
    min-width: 0;
}

.applet .widget-body > * {
    flex: 1 1 0;
    min-width: 0;
}

.applet .widget-body > .js-plotly-plot {
    height: 100%;
}